* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:14px;
	line-height:1.3em;
	color:#111;
}

ul.unstyled {
	list-style: none;

}

a {
	color:#56C6F4;
	text-decoration: none;

}
a:hover {
	text-decoration: underline;
}

.container {
	width:700px;
	margin:100px auto 0;
}

.logo_box {
	float:left;
	overflow:auto;
	margin-right:35px;
}

.apps_list {
	float:left;
	width:321px;
}

.apps_list ul {
	list-style-type:none;

}

.apps_list li h3 {
	font-size:34px;
	font-weight:bold;
	line-height: 1.3em;
}
.apps_list li {
	padding:0 0 15px;
	border-bottom:1px solid #ccc;
	margin-bottom: 25px;
}
.apps_list p {
	margin-bottom:15px;
}



/***

	artists pages
	artists_container
*/

.artists_container {
	width:500px;
	margin:20px auto;
}
.artists_container .thumbnail {
	clear:both;
	overflow:auto;
}
.artists_container .thumbnail {
	/*max-width:80px;*/
	width:41px;
	float:left;
	height:41px;
	overflow:hidden;
margin-right:5px	
}
.artists_container .thumbnail img {
	float:left;	
	max-height:41px;
	;
	}
.thumbnail .name {
	float:left;
}
.screensaver_dl_box {
	overflow:auto;
}
.screensaver_dl_box ul {
	width:245px;
	margin-right:5px;
	float:left;

}
.screensaver_dl_box ul li:nth-child(even) {
	background:#efefef;
}
.screensaver_dl_box ul li {
	margin-bottom:5px;
	clear:both;
	float:none;
	overflow:auto;

}

.artists_container h1 {
	font-size:36px;
	line-height:1.3em;
	margin:5px 0 4px;
}
.artists_container h2 {
	margin:15px 0 10px;
	font-size:24px;
	line-height: 1.3em;
}
.artists_container p {
	margin:5px 0 10px;
}

.artists_container .footer {
	/*text-align: center;*/
	border-top:1px solid #ccc;
	margin:30px 0 30px;
	padding:20px 0 30px;
}
.footer_logo {
	max-width:60px;
	/*text-align:center;*/
}
.footer_logo_link {
	float:left;
	margin-right:10px;
}