* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:14px;
	line-height:1.3em;
}

ul.unstyled {
	list-style: none;

}

a {
	color:#56C6F4;
	text-decoration: none;

}
a:hover {
	text-decoration: underline;
}

.container {
	width:700px;
	margin:100px auto 0;
}

.logo_box {
	float:left;
	overflow:auto;
	margin-right:35px;
}
.apps_list {
	float:left;
	width:321px;
}

.apps_list ul {
	list-style-type:none;

}

.apps_list li h3 {
	font-size:34px;
	font-weight:bold;
	line-height: 1.3em;
}
.apps_list li {
	padding:0 0 15px;
	border-bottom:1px solid #ccc;
	margin-bottom: 25px;
}
.apps_list p {
	margin-bottom:15px;
}